# docker-compose.yml
version: '3.8'

services:
  backend:
    build: .
    container_name: lagtalk_backend
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - lagtalk_net

  postgres:
    image: postgres:15-alpine
    container_name: lagtalk_postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - lagtalk_net

  minio:
    image: minio/minio:RELEASE.2023-09-07T02-05-02Z
    container_name: lagtalk_minio
    ports:
      - "9000:9000"
      - "9001:9001"
    env_file:
      - ./.env
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      - lagtalk_net

  prometheus:
    image: prom/prometheus:v2.47.0
    container_name: lagtalk_prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    depends_on:
      - backend
    networks:
      - lagtalk_net

  grafana:
    image: grafana/grafana:10.1.2
    container_name: lagtalk_grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/provisioning/:/etc/grafana/provisioning/
    env_file:
      - ./.env
    depends_on:
      - prometheus
    networks:
      - lagtalk_net

volumes:
  postgres_data:
  minio_data:

networks:
  lagtalk_net:
    driver: bridge